@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Add a product</h1>
    <partial name="ProductPartial" />
    <h1>Add a User</h1>
    <partial name="UserPartial"/>
</div>
