<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <ul>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="About">About Me</a>
    </ul>
</nav>