@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <div class="container">
        <partial name="RegisterPartial"/>
        <partial name="LoginPartial"/>
    </div>
</div>

