<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <div class="content">
    <div class="block">
        <img src="~/wwwroot/img/me.png" alt="a photo of me">
        <h3>David Storer</h3>
        <h4>I like stuff!</h4>
    </div>
    <div class="block">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum similique quidem hic corporis dicta voluptas odit delectus, facilis laborum cumque, at ratione magnam eveniet sed animi tempora inventore doloremque suscipit?
    </div>
    </div>
</div>
