*{
    background: #76cfad;
}
h1{
    background-color: orange;
}
#title{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}
.shoppingitem{
    font-style: italic;
}
input[type="text"]{
    height: 200px;
}
p{
    text-align: center;
    text-decoration: overline; 
    font-style: italic;
    font-weight: 800;
    width: 75%;
    font-size: 50px;
}