p{
    display: inline-block;
    width: 230px;
    box-sizing: border-box;
    padding: 20px;
    background-color: lightcyan;
    margin: 10px;
}
#canvas{
    display: inline;
}
#sheet{
    display: inline-block;
    background-color: green;
    box-sizing: border-box;
    width: fit-content;
    padding: 20px;
    overflow: hidden;
    height: 4000px;
}