<div class="text-center">
    <h1>Submitted Info</h1>

        <p>Name: @ViewBag.Name</p>
        <p>Location: @ViewBag.Location</p>
        <p>Favorite Language: @ViewBag.FavLang</p>
        <p>Comment: @ViewBag.Comment</p>

    <a href="/" class="btn btn-dark btn large">Go Back</a>
</div>