@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Dojo Activity Center</h1>
<div class="text-center">
    <div class="canvas">
        <partial name="RegisterPartial"/>
        <partial name="LoginPartial"/>
    </div>
</div>
